
.details__card {
    display: flex;
    flex-direction: column;
    background-color:  #23383f;
    opacity: .7;
    border-radius: 10px;
    font-size: 1.35em;
    padding: 1em;
    margin: 1em;
    color: #FFFFFF;
   
    
}

.details__button {
    display: flex;
}

.details__name {
    text-align: center;
}

.details__url--link {
    color: #FFFFFF;
}

.delete {
    margin: .4rem;
}

.edit {
    margin: .4rem;
}