
.details__card {
    display: flex;
    flex-direction: column;
    background-color: #c8bcab;
    border-radius: 10px;
   
    
}

.details__button {
    display: flex;
    
}

.details__name {
    text-align: center;
}

.details__url--link {
    color: #23383f;
}