.eventForm {
    background-color: #c8bcab;
    border-radius: 10px;
}
.state__select {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
.save__buttons {
    display: flex;
    justify-content: flex-end;
    
}

.event__title {
    text-align: center;
}