.add {
    background-color: #efe8d8;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     */
}
.eventForm {
    background-color:  #c8bcab;
    padding: 1em;
    border-radius: 10px;
    margin: 1em;
    
}
.state__select {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.save__buttons {
    display: flex;
    justify-content: flex-end;
    
}

.event__title {
    text-align: center;
}