

.navbar {
    padding: .75rem;
    background-color: #23383f;
    color: #cbcec5;
    opacity: .8;
}

.nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em; 
    margin: 0 3rem;
    padding-left: 0px!important;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

a.nav-link{
    font-family: 'Libre Baskerville', serif;
}

ul {
    list-style-type: none;
}

.nav__upper {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    padding-left: 0px!important;
}

.logout {
    text-align: right;
}